<!-- <div style=" width:500px; margin: 0; padding: 0 0 20px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; font-size: 17px; vertical-align: top;">

<img src="{{site_url}}/static/img/zeedas-png.d690970.png" style="float:left; width: 50px; height:50px;"> <br>

  <h2 style="  font-family: 'Lato', sans-serif; margin-top:30px;">Notification</h2>

  <p  style="margin: 0; padding: 0 0 0px; font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top;">Hello {{first_name}}</p> <br>
<p>Module <span style="font-weight: bold;">{{module_name}}</span>  Accepted on <span style="font-weight: bold;">ZEEDAS.</span></p>


    <hr>
    <br><br>


</div>
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

	</head>
	<style>
		p{
			font-size: 14px;
			line-height: 1.6em;
		}
.mytest a{
      color: white !important;
    }
	</style>
	<body>
		<section style=" ">

    <div style=" width:500px; margin: 0; padding: 0px 0 0px; font-family: 'Open Sans', sans-serif; box-sizing: border-box;  vertical-align: top ; text-align: -webkit-center; border: 1px solid #ddd; display: block; margin: 0px auto;">
<div class="header-ditals122h22" style="    background: #3369da !important;
    box-shadow: 0 2px 15px rgba(0,0,0,0.12);
    height: 40px;
    padding: 4px;
    margin-bottom: 5%;">
	<img src="{{site_url}}/static/img/zeedas-png.d690970.png" alt="" style="
   height: 40px;
   float: left;
" />
<small style="    /* padding-top: 176px; */
        /* padding-top: 176px; */
    color: #fff;
     float: right;
    font-size: 12px;
    margin-right: 9px;
    margin-top: 13px;
    text-decoration: none;
    display: inline-block;
    /* margin-top: 56px; */">Contact Us @ +2348081219121 <span class="mytest">Email:info@natterbase.com</span> </small>
</div>
<div>
	<img src="https://image.flaticon.com/icons/svg/211/211351.svg" alt="" style="    border-bottom: 1px solid #ddd;
    padding-bottom: 7%;
    filter: hue-rotate(30deg); height: 190px;
" />
</div>
<br>

  <h2 style="  font-family: 'Lato', sans-serif; margin-top:20px;">Module Accepted</h2>
<!--
  <p  style="margin: 0; padding: 0 0 0px; font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top;"> (Adenekan)</p>  -->
  <small>HELLO {{first_name}}</small>
<p>Module {{module_name}} was accepeted on {{project_name}} in <span style="font-weight: bold;">ZEEDAS.</span></p>
  <p><b>Click on the link below to check </b></p>
	<button style="background:#3369da; color: #fff !important; padding: 8px 50px !important; border: none; margin-top: 3%; margin-bottom: 3%; cursor: pointer;">Check .</button>


   <div style="    background: #2b2b2b;
    color: #fff;
    height: 63px;
    padding: 15px; margin-top: 6%;">
    <!-- <small><a href="#">{{site_url}}</a></small> -->
    <small><img src="https://image.flaticon.com/icons/svg/145/145802.svg" alt="" style="    padding: 0 9px;
    height: 30px;" /><img src="https://image.flaticon.com/icons/svg/145/145812.svg" alt="" style="    padding: 0 9px;
    height: 30px;" /> <img src="https://image.flaticon.com/icons/svg/145/145805.svg" alt="" style="    padding: 0 9px;
    height: 30px;"/></small><br /><br />
    <small style="font-size: 11px">@ Copyright Zeedas company </small>
  </div>



</div>
</section>
</body>
</html>
